<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>140564302584-vhl8goahqnboto23k6m4vat66ivcgq2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140564302584-vhl8goahqnboto23k6m4vat66ivcgq2v</string>
	<key>API_KEY</key>
	<string>AIzaSyDlThpEcBpxN1t5SQwukrF_U76_PLZT-tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>140564302584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>enyu.87Live</string>
	<key>PROJECT_ID</key>
	<string>live-4f6ff</string>
	<key>STORAGE_BUCKET</key>
	<string>live-4f6ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140564302584:ios:e3c42e5ade83caa5</string>
	<key>DATABASE_URL</key>
	<string>https://live-4f6ff.firebaseio.com</string>
</dict>
</plist>